application {
  debug = "true" // true/false
  file-location = ""
  zoneOffset = 3
  crypt = "false"

  server {}

  jwt {
    domain = "localhost" //Domain to create JWT on
    secret = "D>\\2t_<)`z@@e9yw1[NS2e7U0^3I9NNo" //Secret for jwt generation
    expiration {
      seconds = "120" //About 1 minute to expire
    }
    refreshExpiration {
      seconds = "86400" //About 2 days to expire
    }
  }

  roles {
    // key: value
  }

  database {
    url = "jdbc:postgresql://localhost:5432/fleetmate"
    //        url = "jdbc:postgresql://postgres:5432/fleetmate"
    driver = "org.postgresql.Driver"
    user = "postgres"
    //    password = "vj\\4?jK~ngv[>9:2\\<l}.KrkLLo]|d+Q"
    password = "my-secret-pw"
  }
}